@media only screen and (max-width: 991px){
    .boxes {
        margin-top: 80px;
    }
}

@media only screen and (max-width:  576px){
    .boxes{
        .experinece_card {
            padding: 50px;
            h3 {
                font-size: 40px;
            }
        }
    }
}
@media only screen and (max-width:  450px){
    .home_content_section{
        .line_and_gulla {
            display: none;
        }
        .content_detail {
            margin-top: 15px;
            margin-bottom: 40px;
        }
    }
    header{
        .banner_text{
            h1 {
                font-size: 40px;
                padding-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 450px) and (max-width: 576px){
    .home_content_section{
        .line_and_gulla {
            display: none;
        }
        .content_detail {
            margin-top: 15px;
            margin-bottom: 40px;
        }
    }
    header{
        .banner_text{
            h1 {
                font-size: 40px;
                padding-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){
    .home_content_section{
        .line_and_gulla {
            left: 128px;
        }
    }
    header{
        .banner_text{
            h1 {
                font-size: 45px;
                padding-top: 20px;
            }
        }
    }
    .boxes{
        .experinece_card {
            padding: 50px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .home_content_section{
         .line_and_gulla {
             left: 218px;
         }
    }
    header{
        .banner_text{
            h1 {
                font-size: 50px;
                padding-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .home_content_section{
        .line_and_gulla {
            left: -22px;
        }
    }
    header{
        .banner_text{
            h1 {
                font-size: 50px;
            }
        }
    }
    .experience_section {
        padding: 80px 0 250px;
    }
    .boxes {
        transform: translateY(-320px);
        margin-bottom: -230px;
        .experinece_card {
            padding: 50px;
        }
    }
}
