

$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;

input:focus, button:focus{
    outline: 0;
}

// Header section start
header{
    background-image: url(../img/contact_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .navbar{
        ul{
            li{
                padding: 10px 25px;
                a{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 12px;
                    color: #fff !important;
                    transition: all 0.3s;
                    border-bottom: 2px solid transparent;
                    outline: 0;
                    &:hover{
                        border-bottom: 2px solid #fbc02d;
                    }
                }
            .active{
                border-bottom: 2px solid #fbc02d;
            }
            }
        }
    }
    .banner_text{
        h1{
            font-size: 60px;
            font-family: $nunito;
            font-weight: 800;
            color: #fff;
        }
        p{
            font-family: $nunito;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }
        a{
            font-family: "Nunito",sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            color: #fbc02d;
            text-decoration: none;
            font-size: 14px;
            border: 2px solid #fbc02d;
            padding: 10px 25px;
            border-radius: 12px;
            margin-right: 20px;
            transition: all 0.3s;
            &:hover,.active{
                color: #003edd;
                background-color: #fbc02d;
            }
        }
        .active{
            color: #003edd;
            background-color: #fbc02d;
        }
    }
    
}
// Header section end


// Content section start
.content_section{
    background-image: url(../img/home_content_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        font-family: $nunito;
        font-weight: 800;
        font-size: 36px;
        color: #1d59bf;
        margin-bottom: 40px;
    }
    h3{
        font-family: $nunito;
        color: #545454;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: 40px;
    }
    p{
        font-family: $montserrat;
        font-weight: 400;
        font-size: 15px;
        color: #545454;
        line-height: 20px;
    }
}
// Content section end


// Contact us section start
.contact_us_section{
    background-image: url(../img/home_contact_us_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h3{
        font-family: $nunito;
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
    }
    span{
        font-family: $nunito;
        font-weight: 800;
        color: #fff;
        font-size: 35px;
        text-transform: uppercase;
    }
    input{
        font-family: $montserrat;
        font-weight: 400;
        color: #3c3c3c;
        font-size: 13px;
        line-height: 20px;
        padding: 20px 15px;
    }
    button{
        font-family: $nunito;
        font-weight: 700;
        color: #3c3c3c;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px;
    }
}
// Contact us section end


// Service section start
.service_section{
    margin-bottom: 80px;
    img{
        border-radius: 10px;
        width: 100%;
    }
    .service_buttons{
        button{
            text-transform: uppercase;
            font-family: $montserrat;
            font-weight: 600;
            font-size: 14px;
            color: #d1d1d1;
            background-color: transparent;
            border: none;
            transition: 0.3s;
            &:hover{
                color: #1b5ac4;
            }
        }
        .active{
            color: #1b5ac4;
        }
    }
    .service_one{
        margin-bottom: 30px;
    }
}
// Service section end

hr{
    height: 2px;
    background-color: #d1d1d1;
}

// Service category section start
.service_category{
    margin-top: 80px;
    i{
        font-size: 70px;
        margin-bottom: 30px;
    }
    h3{
        font-family: $montserrat;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 25px;
    }
    p{
        font-family: $montserrat;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 25px;
    }
    a{
        font-family: $montserrat;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000;
        border-bottom: 1px solid #000;
        text-decoration: none;
        transition: 0.3s;
        &:hover{
            color: #003edd;
            border-color: #003edd;
        }
    }
    .top_row{
        margin-bottom: 60px;
    }
    .bottom_row{
        margin-bottom: 80px;
    }
}
// Service category section end


// Brand section start
.brand_section{
    background-color: #9fdeff;
    .row{
        padding: 50px 30px;
    }
    img{
        width: 90%;
        background-color: #fff;
        padding: 0 40px;
    }
}
// Brand section end


// Brand section start
.story_section{
    position: relative;
    padding: 70px 0 80px;
    .line{
        position: absolute;
        width: 5px;
        height: 70%;
        background-color: #d1d1d1;
        left: 50%;
        top: 218px;
    }
    .circles{
        position: relative;
        .circle_one{
            position: absolute;
            width: 50px;
            height: 50px;
            border: 5px solid #d1d1d1;
            background-color: #fac02e;
            border-radius: 50%;
            left: 738px;
            top: 227px;
        }
        .circle_two{
            position: absolute;
            width: 50px;
            height: 50px;
            border: 5px solid #d1d1d1;
            background-color: #fac02e;
            border-radius: 50%;
            left: 738px;
            top: 395px;
        }
        .circle_three{
            position: absolute;
            width: 50px;
            height: 50px;
            border: 5px solid #d1d1d1;
            background-color: #fac02e;
            border-radius: 50%;
            left: 738px;
            top: 568px;
        }
        .circle_four{
            position: absolute;
            width: 50px;
            height: 50px;
            border: 5px solid #d1d1d1;
            background-color: #fac02e;
            border-radius: 50%;
            left: 738px;
            top: 740px;
        }
        // .circle_two{
        //     position: absolute;
        //     width: 50px;
        //     height: 50px;
        //     border: 5px solid #d1d1d1;
        //     background-color: #fac02e;
        //     border-radius: 50%;
        //     left: 50%;
        // }
        // .circle_three{
        //     position: absolute;
        //     width: 50px;
        //     height: 50px;
        //     border: 5px solid #d1d1d1;
        //     background-color: #fac02e;
        //     border-radius: 50%;
        //     left: 50%;
        // }
        // .circle_four{
        //     position: absolute;
        //     width: 50px;
        //     height: 50px;
        //     border: 5px solid #d1d1d1;
        //     background-color: #fac02e;
        //     border-radius: 50%;
        //     left: 50%;
        // }
    }
    .story_title{
        margin-bottom: 60px;
        h3{
            font-family: $nunito;
            font-weight: 800;
            font-size: 18px;
            line-height: 40px;
            color: #1d59bf;
            text-transform: uppercase;
        }
        h2{
            font-family: $nunito;
            font-weight: 800;
            font-size: 48px;
            line-height: 40px;
            color: #1d59bf;
        }
    }
    span{
        font-family: $nunito;
        font-weight: 800;
        font-size: 26px;
        line-height: 40px;
        color: #727272;
    }
    .story_detail{
        h4{
            font-family: $nunito;
            font-weight: 700;
            font-size: 16px;
            color: #1b5ac4;
            margin: 15px 0;
        }
        p{
            font-family: $montserrat;
            font-weight: 400;
            font-size: 13px;
            color: #2d2d2d;
        }
    }
    .story_detail{
        border: 2px solid #d1d1d1;
        border-radius: 8px;
        padding: 30px;
        img{
            background-color: #1b5ac4;
        }
    }
}
// Brand section end


// Content idea section start
.idea_section{
    padding: 50px 0 80px;
    img{
        width: 100%;
    }
    .idea_one{
        background-color: #d9edfe;
    }
    .idea_two{
        background-color: #959595;
    }
    .idea_three{
        background-color: #fbc02d;
    }
    .idea_four{
        background-color: #658cce;
        margin: 20px 15px;
    }
    .idea_five{
        background-color: #1b5ac4;
    }
}
// Content idea section end

 
// Testimonial section start
.testimonial_section{
    padding-top: 50px;
    margin-bottom: 80px;
    .testimoni_title{
        h2{
            font-family: $nunito;
            font-weight: 800;
            font-size: 36px;
            color: #04388e;
        }
        p{
            font-family: $nunito;
            font-weight: 800;
            font-size: 25px;
            color: #04388e;
        }
    }
    .single_testimoni{
        background-color: #ebebeb;
        padding: 60px 40px;
        border-radius: 10px;
        h3{
            font-family: $montserrat;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
        }
        h4{
            font-family: $montserrat;
            font-weight: 600;
            font-size: 13px;
            color: #006fcb;
        }
        p{
            font-family: $montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin-top: 25px;
        }
        .testimoni_img{
            width: 120px;
            height: 120px;
        }
    }
}
// Testimonial section end


// Contact form section start
.contact_form_section{
    padding: 80px 0;

    .contact_info{
        background-color: #1b5ac4;
        border-radius: 30px;
        padding: 70px;
        transition: all 0.3s;
        &:hover{
            box-shadow: 0px 21px 20px -13px black;
            transform: translateY(-3px);
        }
        h2{
            font-family: $nunito;
            font-weight: 800;
            font-size: 38px;
            color: #fff;
        }
        p, a{
            font-family: $montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            margin-top: 15px;
        }
        .media{
            i{
                font-size: 20px;
                height: 55px;
                width: 55px;
                border-radius: 50%;
                color: #1b5ac4;
                background-color: #fbc02d;
                text-align: center;
                padding-top: 17px;
                margin-top: 10px;
                &:first-child{
                    margin-bottom: 10px;
                }
            }
        }
    }
    form{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .form-group{
            margin-bottom: 25px;
            input{
                color: #000;
                font-family: $montserrat;
                font-weight: 400;
                line-height: 20px;
                border-radius: 10px;
                border: 1px solid #1b5ac4;
                padding: 25px 15px;
            }
            textarea{
                height: 120px;
                color: #000;
                font-family: $montserrat;
                font-weight: 400;
                line-height: 20px;
                border-radius: 10px;
                border: 1px solid #1b5ac4;
                padding: 15px 12px;
            }
        }
        button{
            font-weight: 700;
            font-family: $nunito;
            font-size: 14px;
            text-transform: uppercase;
            color: #003edd;
            background-color: #fbc02d;
            border: none;
            padding: 15px 50px;
            border-radius: 14px;
            margin-top: 35px;
            transition: all 0.3s;
            &:hover{
                color: #fbc02d;
                background-color: #003edd;
            }
        }
    }
}
// Contact form section end


// Blog section start
.blog_section{
    .blog_img{
        background-color: #d963d8;
        border-radius: 20px;
    }
    .blog_img_two{
        background-color: #8a8a8a;
    }
    .blog_three{
        background-color: #6376d9;
    }
    .blog_date{
        span{
            background-color: #fbc02d;
            color: #fff;
            font-family: $nunito;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            padding: 8px 15px;
            border-radius: 8px;
        }
        .line{
            width: 100%;
            height: 3px;
            background-color: #b7b7b7;
        }
    }
    .blog_desc{
        h2{
            font-family: $nunito;
            font-weight: 800;
            font-size: 24px;
            color: #1d59bf;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        p{
            font-family: $montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #545454;
            line-height: 24px;
        }
    }
}
// Blog section end


// about section start
.about_section{
    background-image: url(../img/about_banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2{
        font-family: $nunito;
        font-weight: 800;
        font-size: 36px;
        color: #1d59bf;
        margin-top: 50px;
    }
    p{
        font-family: $montserrat;
        font-size: 16px;
        line-height: 20px;
        color: #545454;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    h3{
        font-family: $nunito;
        font-weight: 600;
        font-size: 14px;
        color: #fbc02d;
        text-transform: uppercase;
    }
    span{
        font-family: $nunito;
        font-weight: 800;
        font-size: 36px;
        color: #04388e;
    }
}
// about section end

// Footer section start
footer{
    background-color: #003ca0;
    .circle_img{
        height: 100px;
        width: 100px;
        position: relative;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        img{
            background-color: #003ca0;
            padding: 10px;
            border-radius: 50%;
        }
    }
    h2{
        font-weight: 800;
        font-family: $nunito;
        font-size: 20px;
        color: #fff;
        margin-bottom: 25px;
    }
    ul{
        li{
            a{
                font-family: $montserrat;
                font-weight: 400;
                font-size: 15px;
                color: #fff;
                line-height: 28px;
                text-decoration: none !important;
                &:hover{
                    color: yellow;
                }
            }
        }
    }
    p{
        font-family: $montserrat;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        line-height: 20px;
    }
    .social_icon{
        i{
            font-size: 20px;
            color: #fff;
            height: 40px;
            width: 40px;
            background-color: #4b8fff;
            padding: 10px;
            padding-left: 11px;
            margin-right: 10px;
            border-radius: 50%;
            transition: all 0.5s;
            &:hover{
                color: #003ca0;
                background-color: #fbc02d;
                transform: rotate(360deg);
            }
        }
    }

    .footer_bottom{
        background-color: #002b71;
        a{
            font-family: $montserrat;
            font-weight: 400;
            font-size: 13px;
            color: #fff;
            line-height: 20px;
            text-decoration: none !important;
            margin-right: 20px;
            &:hover{
                color: yellow;
            }
        }
        p{
            font-size: 13px;
            margin-top: 5px;
        }
    }
}
// Footer section end